# MusicBrainz All Artist List

Extracts a flat list of worldwide unique artists from the MusicBrainz database. The main use case for this flat list is to clean our product data by removing products that are falsely classified as music.

As a prerequisite before running this script, download the full MusicBrainz database and unzip it into the data/raw folder:
https://musicbrainz.org/doc/MusicBrainz_Database/Download#mbdump.tar.bz2

In [1]:
import csv
import time

In [6]:
artists_path = '../raw/all_artists.txt'

In [ ]:
t = time.perf_counter()
def profile(description: str, timestamp = t):
    elapsed = time.perf_counter() - timestamp
    print(f'{elapsed:.3f}\t{description}')

with open('../raw/mbdump/mbdump/artist') as file:
    profile('Opened file')
    artists = [line_values[2] for line_values in csv.reader(file, delimiter = '\t')]
profile('Extracted artists')
artists = list(sorted(list(set(artists))))
profile('Sorted artists')


with open(artists_path, 'w') as file:
    for artist in artists:
        file.write(artist)
        file.write('\n')
profile('Saved artists')

0.002	Opened file
2.717	Extracted artists
4.064	Sorted artists
4.390	Saved artists

In [8]:
import pandas as pd
pd.read_csv(artists_path, sep = '\t')

                        ? ? ?)  ? ? ?).1
0        ! ( invisible jet ) !       NaN
1                    ! Obtain?       NaN
2                          !!!       NaN
3                          !!*       NaN
4                     !!KOJI!!       NaN
...                        ...       ...
2240228                      🧚       NaN
2240229                      🧦       NaN
2240230                      🧫       NaN
2240231      🧿🧨DJ📿🧬🧫🔮PSMOKE⚗️🧪       NaN
2240232                   𠮷川美矩       NaN

[2240233 rows x 2 columns]